
body{
    background-color: black;
}
#content{

    background-image: url('./images/Red\ Yellow\ Circles\ Trivia\ Day\ Presentation.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    position: relative;
    
}



/* Play / Next / Reset Button */
.controls-container{
    border: 1px solid white;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    top: 45px;
    
}
.controls-container .button{
    margin: 0.2rem;
    padding: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;

}

.button:hover{
    background-color: coral;
    box-shadow: 0px 5px 10px black;
    transform: scale(.95);
}


/* Science - GEO button */
.topics-container{
    border: 1px solid white;
    position: relative;
    top: 1rem;
    margin: auto;
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: flex-end;
    padding:0.5rem;
    

}
.topics:hover{
    background-color: coral;
    box-shadow: 0px 5px 10px black;
    transform: scale(.95);
    
    
}

.topics{
    padding: 0;
    margin: 0.1rem;
    width: 100px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;
    position: relative;
    top: 1rem;

}
/* Answer Buttons - buttons style */

.option-bttn:hover{
    background-color: violet;
    box-shadow: 0px 5px 10px black;
    transform: scale(.95);
}
.option-bttn{
    padding: 0;
    margin:20px;
    width: 250px;
    height: 80px;
    text-align: center;
    position: relative;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;
}
/* Answer Buttons - Alignment*/

.answer-container{
    position: relative;
    margin: auto;
    height: auto;
    max-width: 80%;
    border: solid blue 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
/* Tracker buttons */
.trackers-container{
    max-width: 70%;
    position: relative;
    top: 3rem;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}
#score{
    border: 2px solid white;
    height: auto;
    padding: 0;
    margin:5px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
    
}
#error-crux{
    border: 2px solid white;
    height: auto;padding: 0;
    margin:5px;
    width: 150px;
    height: 30px;
    text-align:center;
    border-radius: 5px;
    background-color: whitesmoke;
   
    
}

#countdown{
    border: 2px solid white;
    height: auto;padding: 0;
    margin:5px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
   
}

/* Dropdown button for selection # Questions */

.dropbutton {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
/* USER DATA BOX */

.user-data{
    color: 5px solid white;

}
/* USER */
#user-name{
    color: white;
    font-size: 20px;
    margin-top: 50;
    margin-left: 200px;
    max-width: 70%;
    border: 2px solid white;

}
.clock{
    border: 1px solid white;
    margin: auto;
    max-width: 73%;
    padding-top: 1rem;
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: flex-end;
}

/* FOOTER */

